<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="./main.css">
</head>
<body>

  <h1 class="page-title">itodos</h1>

  <div class="box">
    <form id="form" class="form" method="POST">
      <input class="todos-input" type="text" id="inputTodo" placeholder="What need to be done?" name="todoContent" autocomplete="off" required>
    </form>

    <ul class="todos" id="list">
    <% for (const obj of formData) { %>
      <% if (!obj.removed) { %>
      <li class="todo">
        <label for="checkbox"></label>
        <input type="checkbox" name="" id="checkbox" data-checkid="<%= obj.id %>">

        <p><%= obj.todoContent%></p>
        <button class="todo__button deleter-btn" id="delete" class="" data-btnid="<%= obj.id %>">X</button>
      </li>
      <% } %>
    <% } %>

    </ul>
  </div>

  <script>
    const buttons = document.querySelectorAll('.deleter-btn')

    buttons.forEach(button => {

      button.addEventListener('click',async ({ currentTarget: btn}) => {

        const { btnid: id } = btn.dataset
        const body = { id }

        const DELETE = fetch('http://localhost:8000', {
          method: "DELETE",
          body: JSON.stringify(body)
        })

        btn.parentNode.remove()

      })
    })

  </script>

</body>
</html>