<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="./main.css">
</head>
<body>

  <!-- <form class="home-form" method="POST">
    <h3 class="register-from-header">Register form</h3>
    <div class="fx-row">
      <input name="todoContent" type="text" placeholder="What need to be done?" required>

    </div>

    <button class="home-submit-btn" type="submit">SEND</button>
  </form> -->

  <h1 class="page-title">itodos</h1>

  <div class="box">
    <form id="form" class="form" method="POST">
      <input class="todos-input" type="text" id="inputTodo" placeholder="What need to be done?" name="todoContent" autocomplete="off" required>
    </form>

    <ul class="todos" id="list">
    <% for (const obj of formData) { %>
      <li class="todo">
        <label for="checkbox"></label>
        <input type="checkbox" name="" id="checkbox" data-checkid="<%= obj.id %>">

        <p><%= obj.todoContent%></p>
        <button class="todo__button" data-checkid="<%= obj.id %>">X</button>
      </li>
    <% } %>

    </ul>
  </div>


  <script src="home.js"></script>
</body>
</html>